<form method="post" action="{{ path('admin_player_delete', {'id': player.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ player.id) }}">
	<button class="btn ">
		<i class="fa fa-trash text-danger" aria-hidden="true"></i>
        <span class="text-white">Supprimer</span>
	</button>
</form>
