{% extends 'admin/admin_base.html.twig' %}

{% block title %}Nouveau Joueur
{% endblock %}

{% block content %}
	<div class="card">
		<div class="card-header bg-dark text-white">
			⚽ Nouveau joueur
		</div>
		<div class="card-body">
			{{ include('player/_form.html.twig') }}

		</div>
	</div>
{% endblock %}
