{% extends 'admin/admin_base.html.twig' %}

{% block title %}Nouvelle Equipe
{% endblock %}

{% block content %}
	<div class="card">
		<div class="card-header bg-dark text-white">
			⚽ Nouvelle équipe
		</div>
		<div class="card-body">
			{{ include('team/_form.html.twig') }}

		</div>
	</div>
{% endblock %}
